body {
  font-family: Arial, sans-serif;
  margin: 0;
  
  color: #222;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2563eb;
  padding: 15px 30px;
  color: white;
}

.links a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.home, .content {
  text-align: center;
  margin-top: 50px;
}
